@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1>WelCome To BookStore</h1>
        <p class="lead text-muted">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search Books</a>
        </p>
    </div>

</section>

<h2>Top Books</h2>
<div class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
               @*<partial name="_bookThumbnail" model="new BookModel()"/>*@
               @Html.Partial("_bookThumbnail",new BookModel())
            </div>
            <div class="col-md-4">
                @*<partial name="_bookThumbnail" model="new BookModel()"/>*@
                @await Html.PartialAsync("_bookThumbnail",new BookModel())

            </div>
            <div class="col-md-4">
                 <partial name="_bookThumbnail" model="new BookModel()"/>

            </div>
        </div>

    </div>

</div>


